---
import Counter from '@/components/Counter.astro';
import CounterWebComponents from '@/components/CounterWebComponents.astro';
import Layout from '@/layouts/Layout.astro';
import Navigation from '@/components/Navigation.astro';
---

<Layout title="Home">
  <Navigation title="Home" />

  <div class="counters">
    <Counter />
    <CounterWebComponents />
  </div>
</Layout>

<style scoped lang="scss">
  .counters {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
  }
</style>
