<script>
  const buttons = document.querySelectorAll('button[data-component]');

  buttons.forEach((button) => {
    const count = button.getAttribute('data-count');
    button.innerHTML = `Count: ${count}`;

    button.addEventListener('click', () => {
      const newCount = Number(button.getAttribute('data-count')!) + 1;
      button.setAttribute('data-count', `${newCount}`);
      button.innerHTML = `Count: ${newCount}`;
    });
  });
</script>

<button data-component="counter" data-count="0" class="counter"></button>

<style scoped lang="scss">
  .counter {
    padding: 0.6em 1.2em;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    background-color: #f9f9f9;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.25s;

    &:hover {
      border-color: #646cff;
    }

    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
</style>
