---
import { Image } from 'astro:assets';
---

<nav class="nav">
  <a class="icon-link astro" href="/" aria-label="Goto Top Page">
    <img class="icon" src="/astro.svg" alt="Astro logo" />
  </a>

  <a
    class="icon-link cat"
    href="/demo-animals/csr-cat"
    aria-label="Goto Cat Page"
  >
    <img class="icon" src="/demo-animals/cat.svg" alt="Cat icon" />
  </a>

  <a
    class="icon-link bird"
    href="/demo-animals/ssg-bird"
    aria-label="Goto Bird Page"
  >
    <img class="icon" src="/demo-animals/bird.svg" alt="Bird icon" />
  </a>

  <a
    class="icon-link shiba"
    href="/demo-animals/ssr-shiba"
    aria-label="Goto Shiba Page"
  >
    <Image
      class="icon"
      src="/demo-animals/shiba.png"
      alt="Shiba icon"
      loading="eager"
      width="96"
      height="96"
    />
  </a>
</nav>

<style scoped lang="scss">
  .nav {
    display: grid;
    grid-template-areas:
      '.    astro      .'
      '.    astro      .'
      'cat    .    shiba'
      'cat   bird  shiba'
      '.     bird      .';
    gap: 16px 48px;
    margin-bottom: 40px;
  }

  .icon-link {
    transition: filter 300ms;
    will-change: filter;
  }

  .astro {
    grid-area: astro;

    &:hover {
      filter: drop-shadow(0 0 2em #d83333aa);
    }
  }

  .cat {
    grid-area: cat;

    &:hover {
      filter: drop-shadow(0 0 2em #ffc022aa);
    }
  }

  .bird {
    grid-area: bird;

    &:hover {
      filter: drop-shadow(0 0 2em #7094a6aa);
    }
  }

  .shiba {
    grid-area: shiba;

    &:hover {
      filter: drop-shadow(0 0 2em #fabb4caa);
    }
  }

  .icon {
    width: 96px;
    height: 96px;
  }
</style>
